@import "tailwindcss";


html, body {
    box-sizing: border-box;
    font-family: var(--font-noto-sans-grantha), system-ui, sans-serif;
    scroll-behavior: smooth !important;
}

@layer components{
    .animation-effect{
        transition: all 0.3s ease;
    }
    .skl-container{
        max-width: 1550px;
        width: 100%;
        margin: 0 auto;
        /* padding: 0 70px; */
        transition: padding 0.3s ease;
    }
  
    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-110%);
        }
    }
    
    .scroll-left-animation {
        animation: scroll-left 20s linear infinite;
        will-change: transform;
    }
  }